<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FolledoMyCourt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD06FC7120F965D80033CB6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD06FC8520F965DA0033CB6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD06FC9020F965DA0033CB6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
